
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

* {
  --blue: #c2d929;
  --black: #111;
  --white: #fff;
  --light-color: #aaa;
  --bg-color: #222;
  --black-gb: rgba(17, 17, 17, .7);
  --border: .2rem solid var(--blue)
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(val), 1fr));
  gap: 1.5rem;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--black);
}

html::-webkit-scrollbar-thumb {
  background: var(--blue);
}

section {
  padding: 3rem 9%;
}


body {
  background: var(--black);
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: var(--blue);
  font-size: 2rem;
}

.heading h1 {
  font-size: 1rem;
  color: var(--white);
}







.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: var(--blue);
  border: var(--border);
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.header .btn:hover {
  background: var(--blue);
  color: var(--black);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--light-color);
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--blue);
}

.btn {
  margin-top: 0;
}

.btn:hover {
  background: var(--blue);
  color: var(--black);
}

.logo {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: bolder;
}

.logo i {
  color: var(--blue);
  padding-right: .5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: var(--white);
  cursor: pointer;
  display: none;
}

.home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: url("./images/slider2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}

.home .content {
  text-align: center;
}

.home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: .1rem #ffffff;
  font-size: 4vw;
  display: block;
}



h3 {
  font-size: 4vw;
  color: #ffffff;
}

.content .p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}


.book-form {
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: var(--bg-color);
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem rgba(17, 17, 17, .3);
  padding: 3rem 2rem;
}

.book-form form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.book-form form .inputBox {
  flex: 1 1 25rem;
}

.book-form form .inputBox span {
  font-size: 1.4rem;
  color: var(--light-color);
}

.book-form form .inputBox input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: var(--border);
  font-size: 1.6rem;
  color: var(--light-color);
  text-transform: none;
  background: none;
  margin-top: 1rem;
}

.book-form form .btn {
  flex: 1 1 15rem;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.video-container {
  flex: 1 1 42rem;
}

.video {
  border-radius: 1rem;
  width: 100%;
}


.about .video-container video .controls {
  text-align: center;
  padding: 2rem 0;
}

.about .video-container video .controls span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  margin: .7rem;
}

.about .video-container video .controls span:hover {
  background: var(--blue);
}

.about .content {
  flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.about .content span {
  color: var(--blue);
  font-size: 2rem;
}

.home .content h3 {
  color: var(--white);
  font-size: 4rem;
  margin-top: 0.5rem;
}

.home .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.destination .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}


.destination .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));      
  gap: 1.5rem;
}

.destination .box {
  border-radius: 1rem;
  overflow: hidden;
  background: var(--bg-color);
}

.destination .box:hover img {
  transform: scale(1.1);
}

.destination .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.destination .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.destination .box .content {
  padding: 2rem;
  text-align: center;
}

.destination .box .content h2 {
  font-size: 2rem;
  color: var(--white);
}

.destination .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.destination .box .content a {
  font-size: 1.7rem;
  color: var(--blue);
}

.destination .box .content a:hover i {
  padding-left: 1rem;
}

.destination .box .content a i {
  padding-right: 0.5rem;
}





.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.services .box {
  background: var(--bg-color);
  border-radius: 1rem;
  padding: 3rem 2rem;
  text-align: center;
  border: 0.2rem solid var(--black);
}

.services .box:hover {
  border: var(--border);
}

.services .box i {
  font-size: 4rem;
  color: var(--blue);
  margin-bottom: 2rem;
}

.services .box h3 {
  font-size: 2rem;
  color: var(--while);
}

.services .box p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}






.gallery .box-container {
  columns: 3 25rem;
  column-gap: 1.5rem;
}

.gallery .box {
  margin-bottom: 1rem;
  break-inside: avoid;
}

.gallery .box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.gallery .box span {
  font-size: 1.4rem;
  color: var(--light-color);
}

.gallery .box h2 {
  margin-top: 0.5rem;
  font-size: 2rem;
  color: var(--white);
}












/*.review{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  
  .content{
    flex: 1 1 42rem;
    span{
      font-size: 2rem;
      color:$blue;
    }
    h3{
      font-size:3rem;
      color:$white;
    }
    p{
      font-size: 1.4rem;
      color: $light-color;
      padding:1rem 0;
      line-height:2;
    }
  }
  .box-container{
    flex: 1 1 42rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    .box{
      flex: 1 1 20rem;
      border-radius: 1rem;
      padding: 2rem;
      background: $bg-color;
      border: 2rem solid $black;
      &:hover{
        border: $border;
      }
      p{
        font-size: 1.4rem;
        padding-bottom: 1rem;
        line-height: 2;
        color:$light-color;

      }
      .user{
        display: flex;
        align-items: center;
        gap: 1rem;
        img{
          height: 5rem;
          width: 5rem;
          border-radius:50%;
        }
        h3{
          font-size: 1.7rem;
          color:$white;
        }
        span{
          color:$light-color;
          font-size: 1.5rem;
        }
      }
    }
  }
}
*/
.review {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.review .content {
  flex: 1 1 42rem;
}

.review .content span {
  font-size: 2rem;
  color: var(--blue);
}

.review .content h6 {
  font-size: 3rem;
  color: var(--white);
}

.review .content p {
  font-size: 1.4rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}

.review .box-container {
  flex: 1 1 42rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box {
  flex: 1 1 20rem;
  border-radius: 1rem;
  padding: 2rem;
  background: var(--bg-color);
  border: .2rem solid var(--black);
}

.review .box-container .box:hover {
  border: var(--border);
}

.review .box-container .box p {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  line-height: 2;
  color: var(--light-color);
}

.review .box-container .box .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.review .box-container .box .user img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.review .box-container .box .user h5 {
  font-size: 1.7rem;
  color: var(--white);
}

.review .box-container .box .user span {
  color: var(--light-color);
  font-size: 1.5rem;
}












.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container {
  border-radius: 1rem;
  background: var(--bg-color);
  overflow: hidden;
}

.blogs .box:hover .image img {
  transform: scale(1.1);
}

.blogs .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blogs .box .content {
  padding: 2rem;
}

.blogs .box .content .link {
  font-size: 2rem;
  color: var(--white);
}

.blogs .box .content .link:hover {
  color: var(--blue);
}

.blogs .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.blogs .box .content .icon {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogs .box .content .icon a {
  font-size: 1.4rem;
  color: var(--light-color);
}

.blogs .box .content .icon a:hover {
  color: var(--blue);
}

.blogs .box .content .icon a i {
  padding-right: 0.5rem;
  color: var(--blue);
}






/*.banner{
  background: linear-gradient($black-bg, $black-bg),url(../BWDS/images/slider2.jpg) no-repeat;
  background-size: cover;
  background-position:center;
  padding:3rem 2rem;
  background-attachment: fixed;
  text-align:center;
  .content{
    span{
      font-size: 4rem;
      color:$white;
      margin-top:1rem;
    }
    p{
max-width: 60rem;
margin: 1rem auto;
font-size: 1.4rem;
color:$light-color;
line-height:2;

    }
  }
}*/
.banner {
  background: linear-gradient(var(--black-bg), var(--black-bg)), url(../BWDS/images/slider2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 2rem;
  background-attachment: fixed;
  text-align: center;
}

.banner .content span {
  font-size: 4rem;
  color: var(--white);
  margin-top: 1rem;
}
.banner .content h4 {
  font-size: 4rem;
  color: var(--white);
  margin-top: 1rem;
}

.banner .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}







/*.footer{
    .box-container{
    @include grid(25rem);
      .box{

      padding: 1rem 0;
      .logo{
        padding-bottom: 1rem;
      }

      h4{
        font-size: 2.2rem;
        color:$white;
        padding: 1rem 0;
      }
      p{
        font-size: 1.4rem;
        color:$light-color;
        padding: 1rem 0;
        line-height:2;
        i{
          padding-right: .5rem;
          color:$blue;
        }
      }
      .share{
        padding-top: 1rem;

        a{
          height: 4.5rem;
          width: 4.5rem;
          line-height: 4rem;
          font-size: 2rem;
          border-radius: 50%;
          font-size: 1.7rem;
          border:$border;
          color:$blue;
          margin-right:.5rem;
          text-align::content;
          &:hover{
            background: $blue;
            color:$black;
          }

        }
      }
      
      .links{
        font-size: 1.4rem;
        color:$light-color;
        padding:1rem 0;
        display: block;
        &:hover{
          color:$blue;

          i{
            padding-right: 2rem;
          }
        }
        i{
          padding-right: .5rem;
          color:$blue;
        }
      }

form .email{
  width: 100%;
  border-radius: 5rem;
  border: $border;
  background: none;
  font-size: 1.5rem;
  text-transform:none;
  color:$light-color;
  margin-top:1rem;
  padding:1.2rem 1.4rem;

}

    }

  }
}
.credit{
  background: $black-bg;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color:$light-color;

  span{
    color:$blue;
  }
}*/
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}


.footer .box-container .box {
  padding: 1rem 0;
}

.footer .box-container .box .logo {
  padding-bottom: 1rem;
}

.footer .box-container .box h4 {
  font-size: 2.2rem;
  color: var(--white);
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .box p i {
  padding-right: 0.5rem;
  color: var(--blue);
}

.footer .box-container .box .share {
  padding-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: var(--border);
  color: var(--blue);
  margin-right: 0.5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: var(--blue);
  color: var(--black);
}

.footer .box-container .box .links {
  font-size: 1.4rem;
  color: var(--light-color);
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box .links:hover {
  color: var(--blue);
}

.footer .box-container .box .links i:hover {
  padding-right: 2rem;
}

.footer .box-container .box .links i {
  padding-right: 0.5rem;
  color: var(--blue);
}

form .email {
  width: 100%;
  border-radius: 5rem;
  border: var(--border);
  background: none;
  font-size: 1.5rem;
  text-transform: none;
  color: var(--light-color);
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}

.credit {
  background: var(--black-bg);
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: var(--light-color);
}

.credit span {
  color: var(--blue);
}


@media (max-width:991px) {
  html {
    font-size: 55%;

  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width:768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--bg-color);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
}

.home {
  margin-top: 10rem;
}

.home .content span {
  font-size: 6vw;
}

.home .content h3 {
  font-size: 7vw;
}


@media (max-width:450px) {
  html {
    font-size: 50%;

  }

}

